<ion-content [fullscreen]="true">
    <div class='App {{weatherClass}}'>
        <div class='main'>
            <div class='search-container'>
                <ion-input placeholder='Search Province...' class='search-container-input' (keyup.enter)="onEnter()" [(ngModel)]='query'></ion-input>
            </div>
            <div class='location-container' *ngIf="isObj(weather)">
                <div class='location'>
                    {{weather.name}} {{weather.sys.country}}
                </div>
                <div class='date'>
                    {{weather.date}}
                </div>
            </div>
            <div class='weather-container' *ngIf="isObj(weather)">
                <div class='temperature'>
                    {{weather.main.temp}}°C
                </div>
                <div class='weather'>
                    {{weather.weather[0].main}}
                </div>
            </div>
        </div>
    </div>
</ion-content>